# Ambientes virtuais
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log
staticfiles/
media/

# Editores e sistema operacional
.idea/
.vscode/
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.*
!.env.example
